@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-width: 320px;
  font-family: 'Inter', sans-serif;
}

:root {
  --bg-yellow: #FCD858;
  --top-yellow: #FFB326;
  --green: #32D657;
  --green-hov: #25B24D;
  --red: #E64444;
  --red-hov: #C93434;
  --grey-btn: #F0F0F0;
  --grey-text: #B0B0B0;
}

